@font-face {
    font-family: 'DAEAM LEE TAE JOON';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/DAEAMLEETAEJOON/DAEAMLEETAEJOON.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DAEAMLEETAEJOON/DAEAMLEETAEJOON.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DAEAMLEETAEJOON/DAEAMLEETAEJOON.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DAEAMLEETAEJOON/DAEAMLEETAEJOON.ttf') format('truetype');
}
